<div class="container">
  <h1>Password Gen</h1>
  <div>
    <table class="table table-sm table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col">Login</th>
          <th scope="col">Password</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" *ngFor="let loginPassword of PrevioslyGenerated;index as i">
          <td style="width: 30%">{{loginPassword.Time.toLocaleString()}}</td>
          <td style="width: 30%">{{loginPassword.Login}}</td>
          <td style="width: 30%">{{loginPassword.Password}}</td>
          <td style="width: 10%"><button (click)="Delete(i)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <input type="text" [(ngModel)]="Current.Login" />
    <button (click)="Generate()">Gen</button>
    <input type="text" readonly [(ngModel)]="Current.Password" />
    <button ngxClipboard [cbContent]="Current.Password" #copyPopover="ngbPopover" (cbOnSuccess)="OnCopied()" ngbPopover="Copied."
      triggers="manual">Copy</button>
    <button (click)="SwitchToNew()">New</button>
  </div>
  <div>
    <input type="number" [(ngModel)]="CharsCount">
    <label *ngFor="let ruleWrap of AvailableRules; let index = index;">
      <input type="checkbox" value="{{ruleWrap.Rule}}" [(ngModel)]="AvailableRules[index].Checked">{{ruleWrap.Name}}
    </label>

  </div>
</div>